[submodule "oda_api"]
	path = oda_api
	url = https://gitlab.astro.unige.ch/cdci/oda_api.git
[submodule "cdci_magic_plugin"]
	path = cdci_magic_plugin
	url = https://gitlab.astro.unige.ch/cdci/magic/cdci_magic_plugin.git
[submodule "cdci_osa_plugin"]
	path = cdci_osa_plugin
	url = https://gitlab.astro.unige.ch/cdci/integral/cdci_osa_plugin.git
[submodule "cdci_data_analysis"]
	path = cdci_data_analysis
	url = https://gitlab.astro.unige.ch/cdci/cdci_data_analysis.git
[submodule "ddaclient"]
	path = ddaclient
	url = https://gitlab.astro.unige.ch/cdci/integral/ddaclient.git
[submodule "magic-backend"]
	path = magic-backend
	url = https://gitlab.astro.unige.ch/cdci/magic/magic-backend.git
[submodule "dispatcher-plugin-integral-all-sky"]
	path = dispatcher-plugin-integral-all-sky
	url = git@github.com:oda-hub/dispatcher-plugin-integral-all-sky
