[submodule "oda_api"]
	path = oda_api
        url = https://github.com/oda-hub/oda_api.git
[submodule "cdci_osa_plugin"]
	path = cdci_osa_plugin
        url = https://github.com/oda-hub/dispatcher-plugin-integral.git
[submodule "cdci_data_analysis"]
	path = cdci_data_analysis
        url = https://github.com/oda-hub/dispatcher-app.git
[submodule "ddaclient"]
	path = ddaclient
        url = https://github.com/oda-hub/ddaclient.git
[submodule "dispatcher-plugin-integral-all-sky"]
	path = dispatcher-plugin-integral-all-sky
	url = https://github.com/oda-hub/dispatcher-plugin-integral-all-sky.git
[submodule "js9"]
	path = js9
	url = https://github.com/ericmandel/js9
[submodule "dispatcher-plugin-polar"]
	path = dispatcher-plugin-polar
	url = https://github.com/oda-hub/dispatcher-plugin-polar.git
[submodule "dispatcher-plugin-antares"]
	path = dispatcher-plugin-antares
	url = https://github.com/oda-hub/dispatcher-plugin-antares.git
