aiosmtpd
astropy>=3.2
astroquery
blinker
cdci_data_analysis
celery==5.2.2 
ddaclient>=1.1.6
decorator
flask
flask-restplus
flask-restx>=0.2.0
flower
future
gunicorn
jsonschema
json_tricks
logging_tree
matplotlib
numpy==1.21
oda_api>=1.1.7
oda-knowledge-base[rdf,cwl]==0.7.18
pathlib
psutil
pyjwt
python-logstash
python-shell-colors>=0.1.11
pyyaml
raven
redis
requests
simplejson
simple_logger
six
werkzeug
pandas
pylogstash_context>=0.1.19
h5py>=3.5.0
